@use "sass:math";

:root {
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);

    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);

    --font: 'League Spartan', sans-serif;
}

@function rem($pxValue) {
    $remValue: math.div($pxValue, 16px) * 1rem;
    @return $remValue;
}

$rating-offset: 96px;
$border-radius: rem(10px);

@mixin tablet {
    @media screen and (max-width: rem(768px)) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: rem(480px)) {
        @content;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    justify-content: center;
    align-content: space-evenly;
    background-image: url("../images/bg-pattern-top-desktop.svg"), url("../images/bg-pattern-bottom-desktop.svg");
    background-position: left top, right bottom;
    background-repeat: no-repeat;

    @include mobile {
        background-image: url("../images/bg-pattern-top-mobile.svg"), url("../images/bg-pattern-bottom-mobile.svg");
    }
}